:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: "Roboto", sans-serif;
}
.custom-placeholder .p-dropdown-label {
  color: white !important; /* Mengubah warna placeholder menjadi putih */
  font-size: 14px;
  font-weight: bold;
  outline: none;
  box-shadow: none;
  border: none;
}
.custom-placeholder .no-outline .p-dropdown .p-dropdown-label {
  outline: none;
}

.custom-placeholder .no-outline .p-dropdown:focus .p-dropdown-label {
  outline: none;
}

.custom-placeholder .no-outline .p-dropdown {
  outline: none;
  box-shadow: none;
}

.custom-placeholder .no-outline .p-dropdown:focus {
  outline: none;
  box-shadow: none;
}
.custom-placeholder .custom-placeholder .p-dropdown-trigger:focus {
  outline: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
